.movie-card-container {
  position: relative;
  width: 100%;
  /* max-width: 200px; */
  width: 195px;
  height: 400px;
  margin: auto;
  text-align: center;
  border: 1px solid #eee;
  margin-bottom: 60px;
}

.movie-card-wrap img {
  width: 100%;
  height: auto;
  max-height: 270px;
  cursor: pointer;
}

.movie-card-actions button {
  height: 50px;
  width: 50px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  bottom: 26%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.movie-card-actions button.left {
  left: 23%;
}
.movie-card-actions button.right {
  right: 23%;
  font-weight: 900;
}

.movie-card-title {
  width: 100%;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  cursor: pointer;
}

.movie-card-times-tickets {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: #151515;
  color: white;
  border: 1px solid #151515;
  border-radius: 30px;
  padding: 13px 0px;
  font-size: 1.2rem;
}
